<div class="row justify-content-center distance">
    <div class="col-lg-5 col-md-7 mt-4">
        <div class="card bg-info border-0">
            <div class="card-body px-lg-5 py-lg-5">
               
                    <div class="card" style="text-align: center;">
                        <h5 class="card-title">Tipo de Cuenta a Crear</h5>
                        <li class="list-group-item">
                            <button routerLink="/account"   (click)="get_teacher()"    type="button" class="btn btn-outline-info btn-lg" style="width: 70%;">Cuenta de Maestro</button>
                        </li>
                        <li class="list-group-item">
                            <div><button routerLink="/account" (click)="get_student()"         type="button" class="btn btn-outline-info btn-lg" style="width: 70%;">Cuenta de Alumno</button></div>
                        </li>
                        <li class="list-group-item">
                            <button routerLink="/account" (click)="get_apearado()"   type="button" class="btn btn-outline-info btn-lg" style="width: 70%;">Cuenta de Tutor</button>
                        </li>
                    </div>
                
            </div>
        </div>
    </div>
</div>
